.flex-container{
    display: flex;
    background-color: black;
    height: 400px;
    flex-direction: column;
    text-align: center;



}

#div1{

    background-color: brown;
    height: 50px;
    width: 50px;
    color: aliceblue;
}

#div1{

    background-color: brown;
    height: 50px;
    width: 50px;
    color: aliceblue;
}

#div1{

    background-color: brown;
    height: 50px;
    width: 50px;
    color: aliceblue;
}

#div2{

    background-color: rgb(159, 165, 42);
    height: 50px;
    width: 50px;
    color: aliceblue;
}

#div3{

    background-color: rgb(165, 42, 138);
    height: 50px;
    width: 50px;
    color: aliceblue;
}

#div4{

    background-color: rgb(42, 63, 165);
    height: 50px;
    width: 50px;
    color: aliceblue;
}

#div5{

    background-color: rgb(165, 163, 42);
    height: 50px;
    width: 50px;
    color: aliceblue;
}